@model RestaurantManagerApp.Models.Restaurant


<div class="card-body">
    <h3 class="card-title alert-warning py-3 px-3 rounded-2">@Model.Name</h3>
    <!--<div class="card-text">@Html.Raw(Model.Name)</div>-->
    @if ((Model.OpeningTime == null) || (Model.ClosingTime == null))
    {
        <div><i class="bi bi-clock"></i> Non-stop</div>
    }
    else
    {
        <div><i class="bi bi-clock"></i> @Model.OpeningTime - @Model.ClosingTime</div>
    }
</div>


