@model RestaurantManagerApp.Models.Product

<div class="card">
    @Html.Partial("ProductPartial", Model)
</div>


@if (Model.IngredientInProducts is not null && Model.IngredientInProducts.Count > 0)
{
    <div class="alert alert-info card mt-3 p-3">
        <div>
            <h4><u>Ingrediente:</u></h4>
        </div>
        @foreach (var iip in Model.IngredientInProducts)
            @if (iip.Ingredient is not null)
            {
                <div>
                    <i class="bi bi-check2-circle"></i> @iip.Ingredient.Name
                </div>
            }
    </div>
}
else
{

    <div class="alert alert-info mt-3 p-3">
        <div class="font-italic">Acest produs nu are ingredientele specificate.</div>
    </div>
}